
body {
	margin: 0;
	font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}
.body_wrapper {
	max-width: 960px;
	background-color: #fff;
	margin: 0 auto;
	padding: 0 10px 0 10px;
}

.bg_orange {
	height: 60px;
	width: 100%;
	background-color: #f2ae9c;
	position: absolute;
	top: 80px;
	z-index: -1;
}

header {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 80px;
}

.top_header .menu ul {
	display: flex;
	width: 400px;
	list-style: none;
	justify-content: space-between;
}

.top_header .menu ul li a{
	color: #b9b9b9;
	text-transform: uppercase;
	font-family: 'Bebas', arial;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
}

.top_header .menu ul li a.active, .top_header .menu ul li a:hover  {
	color: #e8663c;
}

.top_header .top_header_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}






/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.top_Contact {
	width: 100%;
	height: 60px;
	background-color: #e8663c;
	margin-bottom: 20px;
}
.top_Contact p {
	color: #b9b9b9;
	text-transform: uppercase;
	font-family: 'Bebas', arial;
	font-size: 24px;
	color: #fff;
	margin: 0;
	word-spacing: .2em;
	position: relative;
	top: 20px;
	left: 20px;

}
.content_wrapper {
	display: flex;
}
.content_main {
	margin-right: 20px;
}

.under_map_wrap {
	display: flex;
}

.text_left {
	min-width: 180px;
	max-width: 180px;
	margin-right: 35px;
}
p.Lorem {
	padding-right: 0;
	margin:10px 0;
}
.text_left h4 {
	color: #e8663c;
	font-weight: bold;
	margin-bottom: 0;
}
.text_left p.adress {
	margin-top: 5px;
}

.form_right, form, ul.form-style-1  {
	margin: 0;
	padding: 0;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 input[type=text],
.form-style-1 input[type=email],
textarea {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	min-width: 220px;
	border: 1px solid #e8663c;
	color: #e8663c;
}
.form-style-1 input[type=text],
.form-style-1 input[type=email] {
	max-width: 220px;
}
textarea {
	min-width: 455px;
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus {
	-moz-box-shadow: 0 0 8px #e8663c;
	-webkit-box-shadow: 0 0 8px #e8663c;
	box-shadow: 0 0 8px #e8663c;
	border: 1px solid #e8663c;
}
::placeholder {
  color: #e8663c;;
  font-size: 12px;
  font-family: 'Bebas', arial;
}

.form-style-1 .field-textarea{
	height: 200px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #e8663c;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #f2ae9c;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
















.content_right {
	min-width: 230px;
	max-width: 230px;
	margin-left: 20px;
}
.content_right_wrapper h3 {
	margin-top: 0;
}
.content_right_top, .Categories_top, .Photo_Gallery_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content_right h3 {
	text-transform: uppercase;
	font-family: 'Bebas', arial;
	font-size: 14px;
	margin: 0;
	color: #e8663c;
	word-spacing: .2em;
	line-height: 14px;
	padding-bottom: 5px;
}
.content_right_line, .Photo_Gallery_line {
	width: calc(100% - 100px);
	height: 14px;
	background: url('../img/Line.png');
}
.Categories, .Photo_Gallery {
	margin-top: 30px;
}
.Categories li {
	list-style-type: none;
	position: relative;
	left: -40px;
	padding: 0;
}
.Photo_Gallery_wrap {
	margin-bottom: 20px;
}
.blocks_8_wrap {
	width: 100%;
	height: 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.block {
	width: 50px;
	height: 50px;
	background-color: #f2ae9c;
	border: 1px solid #e8663c;
	box-sizing: border-box;

}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/






footer {
	background-color: #f2ae9c;
	margin-top: 30px;
}
.footer_wrapper {
	max-width: 960px;
	background-color: #fff;
	margin: 0 auto;
	padding: 0 10px 0 10px;
}
.footer_inner {
	display: flex;
	justify-content: space-between;
	background-color: #e8663c;
	color: #fff;
}
.footer_inner span {
	color: #f3b29d;
} 
.f_row {
	width: 28%;
	padding-left: 30px;
	padding-right: 20px;
	margin-bottom: 30px;
}

.footer_center {
	width: 24%;
}

.f_row h3 {
	font-family: 'Bebas', arial;
	font-size: 20px;
	word-spacing: 0.2em;
	margin: 30px 0;
}

.f_row p {
	font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    margin: 10px 0;
}

.f_row span {
	font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
}